body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
    font-family: "Poppins";
}

#more {
    display: none;
}

#header {
    height: 75px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

#header .header-container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .header-container .logo img {
    height: 40px;
    color: black;
}

#header .header-container .header-links li {
    display: inline;
    margin: auto 25px;
}


#header .header-container .header-links li a{
    text-decoration: none;
    color: rgb(11, 118, 232);
    font-size: 1rem;
    font-weight: 600;
}

#header .header-container .header-buttons .login-button,#header .header-container .header-buttons .register-button {
    padding: 8px 12px;
    font-weight: 600;
    border: none;
}

#header .header-container .header-buttons .register-button{
    color: rgb(11, 118, 232);
    background-color: #fff;

}


#header .header-container .header-buttons .login-button{
    color: #fff;
    background-color: rgb(11, 118, 232);

}


@media (max-width: 1025px) {
    #header .header-container .header-links {
        display: none;
    }
}

@media (max-width: 600px) {
    #header .header-container .header-buttons {
        display: none;
    }
    #header .header-container #more {
        display: block;
    }
}